{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset class="module aligned ">
    <div class="form-row">
      <div>
        <label class="required" for="id_header">Заголовок:</label>
        <div class="related-widget-wrapper">
          {{ form.header }}
          <div>{{ form.header.errors }}</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div>
        <label class="required" for="id_text">Текст:</label>
        <div class="related-widget-wrapper">
          {{ form.text }}
          <div>{{ form.text.errors }}</div>
        </div>
      </div>
    </div>
    {% for group in groups %}
    <input type="hidden" name="_selected_action" value="{{ group.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="push" />
    {{ form.path }}

  </fieldset>
  <div>
    <a href="{% url 'admin:main_schedulegroup_changelist' %}" class="button" style="padding: 10px 15px;">Отмена</a>
    <input type="submit" name="apply" value="Отправить">
  </div>
</form>
{% endblock %}

