<!-- Header Area -->
<header class="header-area">
	<div class="sticky-area">
		{% include 'main/edupix/_navigation.html' %}
	</div>

	<div class="search-popup">
		<span class="search-back-drop"></span>

		<div class="search-inner">
			<div class="auto-container">
				<div class="upper-text">
					<div class="text">Search for anything.</div>
					<button class="close-search"><span class="la la-times"></span></button>
				</div>

				<form method="post" action="index.html">
					<div class="form-group">
						<input type="search" name="search-field" value="" placeholder="Search..." required="">
						<button type="submit"><i class="la la-search"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</header>