<h2 id="staff">Сотрудники</h2>

<h5>Руководители</h5>
{% for person in staff %}
{% if person.category == "leader" %}
<div class="row">
    <div class="col-lg-12">
        <a href="{{ person.url }}">{{ person.name }}, {{ person.position }}</a>
    </div>
</div>
{% endif %}
{% endfor %}
<br><br><h5>Штатные сотрудники</h5>
{% for person in staff %}
{% if person.category != "leader" %}
<div class="row">
    <div class="col-lg-12">
        <a href="{{ person.url }}">{{ person.name }}, {{ person.position }}</a>
    </div>
</div>
<br>
{% endif %}
{% endfor %}