<!-- Header Top Area -->
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="contact-info">
					<i class="las la-envelope"></i> info@edupix.com |
					<i class="las la-map-marker"></i> 66, Broklyn St, New York, USA
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12 text-right">
				<div class="site-info">
					Opening Hours: Monday-Saturday - 08.00 a.m. to 5.00 p.m.
				</div>
			</div>
		</div>
	</div>
</div>