<!-- Header Top Area -->
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="contact-info">
					<i class="la la-phone-square"></i> +7(8216)738627  |
					<i class="las la-envelope"></i> ugtu.econ@yandex.ru
				</div>
			</div>
<!--			<div class="col-lg-6 col-md-12 col-sm-12 text-right">-->
<!--				<div class="site-info">-->
<!--					Opening Hours: Monday-Saturday - 08.00 a.m. to 5.00 p.m.-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
</div>