{% extends 'main/edupix/layout.html' %}
{% load static %}
{% block content %}
<div id="programme-page" class="programme-details-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="programme-list">
                    <h5>Группы</h5>
                    {% for group in groups %}
                    <a href="{{ group.url }}">{{ group.name }}<span><i class="las la-arrow-right"></i></span></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="single-programme">
                    ----
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}