.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}
.dropdown-menu {
    padding: 0px;
}
table.borderless, .borderless tr, .borderless td, .borderless thead th {
    border: none;
}
td.bg-success {
    background-color: #cfe3d7!important;
}
td.bg-info {
    background-color: #e2eff7!important;
}
div.bg-group-message {
    padding: .75em;
    background-color: #fcc741!important;
}
div.bg-success-message {
    padding: .75em;
    background-color: #cfe3d7!important;
}
.single-blog-item.small .blog-content a {
    font-size: 16px!important;
}
.breadcroumb-area {
    padding-bottom: 30px;
}
/*.programme-list {
    padding-top: 10px!important;
}*/
.section-padding {
    padding: 60px 0!important;
}
.site-info a{
    color: #ffffff!important;
}
.navbar-toggler-icon {
    background-color: #000000!important;
}
.main-menu .sub-menu li a {
    color: #000000!important;
}
.table td, .table th {
    border-top: 1px solid #000000!important;
}
body {
    color: #000000!important;
}
.programme-list h5 {
	color: #ffffff!important;
}
a:hover {
    color: #000000!important;
}